/* #iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-btn-primary {
    background-color: #0073CE!important;
    color: #fff!important;
}

#iubenda-cs-banner .iubenda-cs-opt-group button:hover {
    opacity: .5!important;
}

#iubenda-cs-banner .iubenda-cs-opt-group button {
    padding: 8px 24px!important;
    display: block;
    text-align: center!important;
    margin: 6px 3px!important;
    font-weight: 700!important;
    font-size: 100%!important;
    border-radius: 64px!important;
    border-style: none!important;
    cursor: pointer!important;
}

#iubenda-cs-banner {
    bottom: 0px !important;
    left: 0px !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 99999998 !important;
  }

.iubenda-cs-content {
    border-radius: 4px!important;
    margin: 16px!important;
    padding: 16px 32px!important;
    display: block;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    font-size: 14px;
    background: #000;
    color: #fff;
}

.iubenda-cs-rationale {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}

  .iubenda-banner-content > p {
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    line-height: 1.5;
}

.iubenda-cs-cookie-policy-lnk {
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
} */